body{
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;    
}
.calculadora{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 225px 150px 150px 150px 150px 150px;
    grid-template-columns: 150px 150px 150px 150px;
    background-color: rgb(236, 222, 255);
    border-radius: 30px;
}
#visor{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color:rgb(218, 192, 255);
    border-radius: 30px;
    grid-column-start: 1;
    grid-column-end: 5;
}
.casinhas{
    background-color:rgb(218, 192, 255);
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.casagrande1{
     background-color:rgb(218, 192, 255);
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
}
.casagrande2{
    background-color:rgb(218, 192, 255);
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    grid-column-start: 3;
    grid-column-end: 5;
}